* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000 !important;
	color: #fff !important;
}

/* dark mode thin scroll bar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
